!!! 5
html
  head
    title FDL Vote
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='http://fast.fonts.com/cssapi/8cc02e17-b4a8-499f-901f-9ff01da80d67.css')
    != css('toolbar')
    != css('application')

    block head

  body
    .navbar.navbar-fixed-top.factory
      .navbar-inner
        .container
          ul.nav
            li.dropdown
              a.logo.dropdown-toggle(href="/")
                | Vote
                //span.caret // optional
              ul.dropdown-menu.app-drop.nav-collapse
                li: a(href="http://core.factorylabs.com") Core
                li: a(href="http://coreflow.factorylabs.com") Flow
                li: a(href="http://corejobs.factorylabs.com") Jobs
                li: a(href="http://corereports.factorylabs.com") Reports
                li.divider
                li: a(href="http://gear.factorylabs.com") Gear
                li: a(href="http://peeps.factorylabs.com") Peeps
                li: a(href="http://rocket.factorylabs.com") Rocket
                li: a(href="https://support.factorylabs.com/forums") Toolkit
                li.divider
                li: a(href="http://calendar.factorylabs.com") Calendar
                li: a(href="http://docs.factorylabs.com") Drive
                li: a(href="http://mail.factorylabs.com") Mail

          ul.nav.pull-right
            if user && user.admin
              li: a(href='/admin') Admin
            if user
              li: a(href='/contests') Open Contests
              li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown")
                  = user.name
                  span.caret
                ul.dropdown-menu
                  li: a(href="/logout") Sign Out
            else
              li: a(href='/auth/google') Login


    .container
      .row
        .span12
          block content

    script(src='//code.jquery.com/jquery-1.9.1.min.js')
    script(src='/js/bootstrap.min.js')
    != js('toolbar')
    != js('application')
