extends layout
block body
  .row#contest(data-id=(contest.already_voted ? false : contest.id)): .col-md-12
    h3= contest.name

    for category in contest.categories
      .category
        h4= category.name
        - var n = 0
        - var entries_per_row = 4
        - var row_count = Math.ceil(category.entries.length/entries_per_row)
        while n < row_count
          .row
            for entry in category.entries.slice(n*entries_per_row, (n+1)*entries_per_row)
              .entry.col-md-3(data-entry=entry)
                .thumbnail(href='#')
                  img(src=entry.attachment)
                  .caption: h5= entry.name
          - n++

        if category.entries.length == 0
          p: small No entries in this category

    if contest.categories.length == 0
      p: small There are no categories.

  .row: .col-md-12
    if contest.already_voted
      a.btn.btn-primary.disabled Already Voted
    else
      a.btn.btn-primary#submit-vote Vote
