.popover
  max-width none

.upcase
  text-transform uppercase

.dim
  opacity .5

body .btn-huge
  font-size 25px !important
  line-height 30px !important

.factoryize
  font-family: "DIN Next W01 Regular"

body .btn-factory-orange {
  color: #FFF;
  font-size: 14px;
  font-family: "DIN Next W01 Regular";
  padding: 3px 8px 1px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
  background-color: #ff9861;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff9861), color-stop(100%, #fa5700));
  background-image: -webkit-linear-gradient(top, #ff9861, #fa5700);
  background-image: -moz-linear-gradient(top, #ff9861, #fa5700);
  background-image: -ms-linear-gradient(top, #ff9861, #fa5700);
  background-image: -o-linear-gradient(top, #ff9861, #fa5700);
  background-image: linear-gradient(top, #ff9861, #fa5700);

  &:hover {
    color: #f4f4f4;
    background-color: #fa5700;
  }
}
