extends ../../views/layout

block content
  if user
    if contests.length == 0
      p: small No contests
    else
      table.table
        thead
          tr
            th Contest
            th Categories
        tbody
          for contest in contests
            tr
              td: a(href="/contests/#{contest.id}")= contest.name
              td= contest.categories.length

  else
    a.factoryize(href='/auth/google') Please login with your Factory Google account.
