extends layout

block content
  if user
    if contests.length == 0
      p: small No contests
    else
      table.table
        thead
          tr
            th Contest
            th Entries
        tbody
          for contest in contests
            tr
              td: a(href="/contests/#{contest.id}")= contest.name
              td= contest.entries.length

  else
    a(href='/auth/google') Please login.
