extend ../../views/layout

block head
  meta(http-equiv="refresh", content="20;URL=")
  != css('remove-toolbar')

block content
  h2.factoryize.upcase= contest.name
  if contest.categories.length == 0
    p: small No categories
  else
    for category in contest.categories
      .category-container
        h3.factoryize.bold.orange= category.name
        if category.entries.length == 0
          p: small No entries in this category
        else
          ul.thumbnails
            for entry in category.entries.sort(sort_desc('votes'))
              li.entry.span2
                div.thumbnail
                  if entry.slug
                    img(src="http://instagr.am/p/#{entry.slug}/media/?size=t")
                  h4
                    = entry.name
                    span.badge.pull-right= entry.votes
