extends ../../views/layout

block content
  .row
    .span3.offset3
      p
        a.btn(href='/auth/google')
          i.icon-user
          | &nbsp;Sign in
      p with your Factory Google account.
